{% extends "base.html" %}

{% block title %}注销{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">OnlyTime</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OnlyTime</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.username}}</a></li>
            <li><a href="{% url 'logout' %}?next={% url 'password_change' %}"> 修改密码</a></li>
            <li><a href="{% url 'logout' %}?next={% url 'index_page' %}"> 注销</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">登录</a></li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
{% endblock %}