{% extends "base.html" %}

{% load bootstrap_tags %}

{% block title %}修改密码{% endblock %}

{% block header_link %}
    <link href="{{ STATIC_URL }}css/local.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="continer">
        <form action="" method="POST" role="form" class="form-horizontal form-signin">
            {% csrf_token %}
            <h2>用户登录</h2>
            {{ form|as_bootstrap }}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <input type="submit" class="btn btn-success" value="修改密码">
                </div>
            </div>
            </div>
        </form>
    </div>
{% endblock %}
